---
import "../../styles/global.css";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("writings");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

const getDate = (d: string | Date) => (typeof d === "string" ? new Date(d) : d);

const fmtUTC = new Intl.DateTimeFormat(undefined, { dateStyle: "medium", timeZone: "UTC" });
const formatDateUTC = (d: string | Date) => fmtUTC.format(getDate(d));

import avatar from "../assets/jared-black-bg.png";
---

<html>

<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="generator" content={Astro.generator} />
    <title>{post.data.title}</title>	
  </head>
 
  <body>
	<div class="img-wrapper">
<img class="pfp-img" src="/jared-black-bg.png" alt="jared" />
  <h2>jared</h2>
</div>
<nav class="nav">
  <div><a href="/" >home</a></div>
  	<div><a href="/resources" >resources</a></div>
	<div><a href="https://github.com/JaredSystems">github</a></div>
  	<div><a href="https://x.com/jaredsystems">x.com</a></div>
	</nav>

    <main>
      <h1>{post.data.title}</h1>
     <small>{formatDateUTC(post.data.article_date)}</small>
      <p>{post.data.description}</p>
      <Content />
    </main>
  </body>
</html>
