---
import "../styles/global.css";
import { getCollection } from "astro:content";
const writings = await getCollection("writings");

const getDate = (d: string | Date) => (typeof d === "string" ? new Date(d) : d);

writings.sort((a, b) => b.data.article_date.getTime() - a.data.article_date.getTime());

const fmtUTC = new Intl.DateTimeFormat(undefined, { dateStyle: "medium", timeZone: "UTC" });
const formatDateUTC = (d: string | Date) => fmtUTC.format(getDate(d));

import QuoteContent from "../content/main_quote.md"
import IndexContent from "../content/index.md"


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>jaredsystems</title>
	</head>
  <body>
	<div class="img-wrapper">
<img class="pfp-img" src="/jared-black-bg.png" alt="jared" />
  <h2>jared</h2>
</div>


<nav class="nav">
  <div><a href="/" class="active">home</a></div>
  	<div><a href="/resources" >resources</a></div>
	<div><a href="https://github.com/JaredSystems">github</a></div>
		<div><a href="https://x.com/jaredsystems">x.com</a></div>
	
	</nav>

	<main class="main">

		<QuoteContent/>

		<IndexContent/>
	</main>

	<section class="section">
		<h1>Projects</h1>
		<p>Things i've created or am creating (date desc order)</p>
		<h3>Full Stack</h3>
		<div>
			<ul><a href="https://www.marmotsystems.com/">marmot systems</a> - direct store delivery (dsd) and accounting
				software optimized for speed, simplictity, and reliability. 
			</ul>

			<ul><a href="https://www.galaxitylearning.com/signin">galaxity</a> (inactive) - AI math tutoring app integrated
				into school learning management systems. Based off the octalysis framework.
			</ul>



			<ul><a href="https://www.freemindrecovery.com/">freemind</a> (inactive) - free mental health platform 
				to support those struggling with anxiety disorders.
			</ul>

		</div>

			<h3>Security</h3>
		<div>
				<ul><a href="https://github.com/JaredSystems/c-cryptography-library">cryptography library</a> (inactive) - supports 2 encryption 
					ciphers and 1 key exchange algorithm (Diffie-Hellman). 
			</ul>
		</div>
	</section>

	<section class="section">
		<h1>Writings</h1>
		<ul>
    {writings.map((post) => (
      <li>
        <a href={`/writings/${post.slug}/`}>{post.data.title}</a>
            <small> — {formatDateUTC(post.data.article_date)}</small>
        <p>{post.data.description}</p>
      </li>
    ))}
  </ul>
	</section>
  </body>
</html>

