---
import "../styles/global.css";
import { getCollection } from "astro:content";
const writings = await getCollection("writings");

const getDate = (d: string | Date) => (typeof d === "string" ? new Date(d) : d);

writings.sort((a, b) => b.data.article_date.getTime() - a.data.article_date.getTime());

const fmtUTC = new Intl.DateTimeFormat(undefined, { dateStyle: "medium", timeZone: "UTC" });
const formatDateUTC = (d: string | Date) => fmtUTC.format(getDate(d));

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>jaredsystems</title>
	</head>
  <body>
	<h2>jared</h2>
<nav class="nav">
  <div><a href="/" class="active">home</a></div>
  	<div><a href="/resources" >resources</a></div>
	<div><a href="https://github.com/JaredSystems">github</a></div>
	
	</nav>

	<main class="main">

		<p>I'm 25 years old, based out of miami fl, and enjoy programming. I got into programming in late 2022 when I wanted to build a 
			<a href="https://www.freemindrecovery.com/">mental health platform</a>  for myself. 
			It's very trivial but it's what I utilized to learn full stack software development. 
			Suprisingly it grew to more than 1000 users with no marketing.
		</p>

		<p>Utlimately, I ended up back in uni to study computer and information technology hoping to land a job, as the stigma of not having 
			a bachelors was creeping up on me. Shortly after, I landed a software internship at 
			<a href="https://en.wikipedia.org/wiki/Truist">truist</a> on their enterprise engineering team. 
        	All these nice buzzwords just to say that I did nothing all internship and don't really want to go back to corporate.
	</p>

		<p>To kill time over my internship I studied <a href="">gamification</a> and <a href="">intelligent tutoring systems</a>  
			with the end goal of building an automated AI math tutoring application. <a href="https://www.galaxitylearning.com/signin">Galaxity</a> 
			is the result of this work. It integrates into existing learning management systems to tutor students on their homework. It never reached
			market due to cuthroat competition in the edtech and b2a space. 
		</p>

		<p>Nowadays i'm the founder, ceo, cto, cfo, cmo <a href="https://www.marmotsystems.com/">@marmotsystems</a> (unemployed and diagnosed with ocd).
		Unfortunately for me, the $100 MRR b2b saas is in the bag with the fries. But, I hope to change that.</p>

		<p>Aside from my failed startups, I spend most of my free time reading or studying systems programming. 
		</p>
	</main>

	<section class="section">
		<h1>Projects</h1>
		<p>Things i've created or am creating (date desc order)</p>
		<h3>Full Stack</h3>
		<div>
			<ul><a href="https://www.marmotsystems.com/">marmot systems</a> - direct store delivery (dsd) and accounting
				software optimized for speed, simplictity, and reliability. 
			</ul>

			<ul><a href="https://www.galaxitylearning.com/signin">galaxity</a> - AI math tutoring app integrated
				into school learning management systems. Based off the octalysis framework.
			</ul>



			<ul><a href="https://www.freemindrecovery.com/">freemind</a> - free mental health platform 
				to support those struggling with anxiety disorders.
			</ul>

		</div>

			<h3>Security</h3>
		<div>
				<ul><a href="https://github.com/JaredSystems/c-cryptography-library">cryptography library</a> - supports 2 encryption 
					ciphers and 1 key exchange algorithm (Diffie-Hellman). 
			</ul>
		</div>
	</section>

	<section class="section">
		<h1>Writings</h1>
		<ul>
    {writings.map((post) => (
      <li>
        <a href={`/writings/${post.slug}/`}>{post.data.title}</a>
            <small> — {formatDateUTC(post.data.article_date)}</small>
        <p>{post.data.description}</p>
      </li>
    ))}
  </ul>
	</section>
  </body>
</html>

